body{
    background-color: green;
}

.card{    
    background: white;
    margin: auto;
    margin-top: 50px;
    height: 400px;
    width: 250px;
    border: 1px solid black;
    border-radius: 10px;
    position: relative;
    .top-suit {
        position: absolute;
        top: 0px;
        left: 10px;
        font-size: 80px;
    }
    .number {
        position: absolute;
        top: 100px; 
        left: 90px;
        font-size: 120px;
        
    }
    .bottom-suit {
        position: absolute;
        bottom: 0px;
        right: 10px;
        font-size: 80px;
        transform: rotate(180deg);
    }
}

.card.red {
    color: red;
}

